<template>
    <div class="row">
        <div class="col-12">
            <div class="banner">
                <img alt="" class="img" src="@/images/Rectangle.png"/>
                <div class="duration">
                    <div class="text-1">Shop</div>
                    <span class="text-2">𝐇𝐨𝐦𝐞</span>
                    <span>❯</span>
                    <span    class="text-3">Shop</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Home-Shop"
}
</script>

<style scoped>
.img {
    width: 100%;
    height: 300px;
}
.banner {
    position: relative;
}
.duration {
    position: absolute;
    top: 30%;
    left: 45%;
}
.text-1{
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0;
}
.text-2{
    margin-left: 4%;
    margin-right: 5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
}

.text-3{
    margin-left: 7%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
}


</style>