<script>
export default {
    name: "Shop-filter"
}
</script>

<template>
    <div class="row filter">
        <div class="col filter-main ms-5">
                <div class="filter-icon">
                    <i class="fa-solid fa-sliders"></i>
                    <span class="filter-text">Filter</span>
                </div>
                <div class="grid-icon">
                    <img alt="" src="@/images/grid-2.png"/>
                </div>
                <div class="view-list">
                     <img alt="" src="@/images/view-list.png"/>
                </div>
                <div class="line-icon">
                    <img alt="" src="@/images/Line.png"/>
                </div>
                <div class="showing-text">
                    Showing 1–16 of 32 results
                </div>
        </div>
        <div class="col filter-main2">
            <div class="show-text">Show</div>
                <div class="number-text"><span class="number-color">16</span></div>
                <div class="select">
                    <span class="select-text">Short by</span>
                    <span class="select-color">Default</span>
                </div>
            </div>
        </div>

</template>

<style scoped>
.filter-main{
    align-items: center;
    display: flex;
}
.filter-main2{
    margin-right: 5%;
    justify-content: right;
    align-items: center;
    display: flex;
}
.filter {
    height: 80px;
    background-color: #F9F1E7;
}

.filter-icon {
    cursor: pointer;
    align-items: center;
}

.filter-text {
    margin-left: 15px;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

}
.grid-icon {
    margin-left: 5%;
    cursor: pointer;
}

.view-list {
    margin-left: 5%;

    cursor: pointer;
}

.line-icon {
    margin-left: 30px;
    padding-right: 30px;
}

.showing-text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;

}

.show-text {
    font-family: Poppins,cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
}

.number-text {

}

.number-color {
    padding: 10px;
    background-color: white;
    color: #9F9F9F;

}

.select {
    margin-left: 30px;
}

.select-text {
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    padding-right: 20px;

}

.select-color {
    padding: 15px 60px 15px 30px;
    background-color: white;
    color: #9F9F9F;
}


</style>