<template>
    <div class="OurProducts">
        <div class="row mx-5">
            <div
                v-for="card in cards" :key="card.id"
                class="col col  col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-5"
            >
                <div class="photo-home">
                    <img :src="card.image" alt="" class="image">
                    <div class="overlay"></div>
                    <div class="text">
                        <button class="add-cart">
                            <router-link :to="'/single-product/' + card.id" style="text-decoration: none">
                                <span class="link">Add to card</span>
                            </router-link>
                            <div class="icon">
                                <i class="fa-solid fa-share-nodes" style="color: #f7f7f8;"></i>
                                <span class="icon-text">Share</span>
                            </div>
                            <div class="icon-2">
                                <i class="fa-solid fa-right-left" style="color: #eff1f5;"></i>
                                <span class="icon-text2">Compare</span>
                            </div>
                            <div class="icon-3">
                                <i class="fa-regular fa-heart" style="color: #f7f7f8;"></i>
                                <span class="icon-text3">
                                Like
                            </span>
                            </div>
                        </button>
                    </div>
                    <div class="photo-home-text">
                        <span class="photo-text">{{ card.name }}</span><br>
                        <span class="photo-text2">{{ card.description }}</span><br>
                        <span class="photo-text3">Rp {{ card.cost }}</span>
                        <span class="photo-text4">Rp 3.500.000</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-pagination">
            <span class="box">
                1
            </span>
            <span class="box2">
                2
            </span>
            <span class="box3">
                3
            </span>
            <span class="box4">
                Next
            </span>

        </div>
    </div>
    <div class="frame">
        <img alt="" class="frame-img" src="@/images/Frame.png">
    </div>
</template>


<script>
export default {
    name: "Shop-Images",
    data() {
        return {
            cards: [
                {
                    id: 1,
                    image: require('@/images/Syltherine.png'),
                    name: 'Syltherine',
                    cost: '2.500.000',
                    description: 'Stylish cafe chair'
                },
                {
                    id: 2,
                    image: require('@/images/Levios.png'),
                    name: 'Leviosa',
                    cost: '2.500.000',
                    description: 'Stylish cafe chair'
                },
                {
                    id: 3,
                    image: require('@/images/lolito.png'),
                    name: 'Lolito',
                    cost: '7.000.000',
                    description: 'Luxury big sofa'
                },
                {
                    id: 4,
                    image: require('@/images/Respira.png'),
                    name: 'Respira',
                    cost: '500.000',
                    description: 'Outdoor bar table and stool'
                },
                {
                    id: 5,
                    image: require('@/images/Grifo.png'),
                    name: 'Grifo',
                    cost: '1.500.000',
                    description: 'Nigth lamp'
                },
                {
                    id: 6,
                    image: require('@/images/Muggo.png'),
                    name: 'Muggo',
                    cost: '150.000',
                    description: 'Small mug'
                },
                {
                    id: 7,
                    image: require('@/images/Pingky.png'),
                    name: 'Pingky',
                    cost: '7.000.000',
                    description: 'Cute bed set'
                },
                {
                    id: 8,
                    image: require('@/images/Potty.png'),
                    name: 'Potty',
                    cost: '500.000',
                    description: 'Minimalist flower pot'
                },

            ]
        }
    }
}
</script>


<style scoped>
.link{
    color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}
.icon-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.icon {
    position: absolute;
    margin-top: 35px;
    left: -25px;
}

.icon-text2 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.icon-2 {
    position: absolute;
    margin-top: 35px;
    left: 55px;
}

.icon-text3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.icon-3 {
    position: absolute;
    margin-top: 35px;
    right: -30px;
}

.add-cart {
    background-color: white;
    width: 202px;
    height: 48px;
    border: none;
}

.photo-home {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    opacity: 0.6;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.photo-home:hover .overlay {
    bottom: 0;
    height: 100%;
}

.photo-home:hover .text {
    opacity: 1;
}

.text {
    font-size: 20px;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.OurProducts {
    margin-top: 50px;
    padding-bottom: 50px;
}

.photo-main {
    margin-top: 40px;
    display: flex;
    margin-left: 60px;

}

.photo-home {
    margin-left: 20px;
    width: 285px;
    height: 420px;
    background-color: #F4F5F7;
}

.photo-home-text {
    position: relative;
    top: 10px;

}

.photo-text {
    margin-left: 15px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #3A3A3A;
}

.photo-text2 {
    position: relative;
    top: 3px;
    margin-left: 15px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #898989;
}

.photo-text3 {
    position: relative;
    top: 10px;
    margin-left: 16px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #3A3A3A;
}

.photo-text4 {
    position: relative;
    top: 10px;
    margin-left: 15px;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    color: #B0B0B0;
    text-decoration: line-through;
}

.shop-pagination {
    margin-left: 480px;
    margin-top: 50px;
}

.box {
    padding: 13px 15px 13px 18px;
    border-radius: 8px;
    background-color: #B88E2F;
    cursor: pointer;
    color: white;
}

.box2 {
    margin-left: 40px;
    padding: 13px 15px 13px 18px;
    border-radius: 8px;
    background-color: #F9F1E7;
    cursor: pointer;

}

.box3 {
    margin-left: 40px;
    padding: 13px 15px 13px 18px;
    border-radius: 8px;
    background-color: #F9F1E7;
    cursor: pointer;

}

.box4 {
    margin-left: 40px;
    padding: 13px 20px 13px 18px;
    border-radius: 8px;
    background-color: #F9F1E7;
    cursor: pointer;
}

.frame {
    margin-top: 30px;
}

.frame-img {
    width: 100%;
}
</style>