<template>
    <div class="row mt-5 ms-3">
        <div class="col-8 " >
            <div class="table">
                <div class="table">
                    <div class="w-50%">
                    </div>
                    <div class="ms-3">Product</div>
                    <div class="">Price</div>
                    <div class="ms-5">Quantity</div>
                    <div class="">Subtotal</div>
                    <div class=""><img alt="" src=""></div>
                </div>
            </div>
            <br>
            <div class="card-table">
                <div
                    v-for="(card,index) in basketCards" :key="card.id"
                    class="table-img mt-3"
                >
                    <div class="card-img">
                        <img class="img" :src="card.image" alt="">
                    </div>
                    <div class="">{{card.name}}</div>
                    <div class="">Rs. {{card.cost}}</div>
                    <div class="count">{{card.count}}</div>
                    <div class="">Rs. 250,000.00 </div>
                    <div class=""><img alt="" src="@/images/card-delete.png"  @click="removeCard(index)" ></div>
                </div>
            </div>
        </div>
        <div class="col-4 pe-5">
            <div class="table2 ">
                <div class="table-text5">Cart Totals</div>
                <div class="box mx-5 pt-5">
                    <div class="box-text">
                        Subtotal
                    </div>

                    <div class="box-text2">
                        Rs. 250,000.00
                    </div>
                </div>
                <div class="box mx-5 pt-5">
                    <div class="box-text">
                        Total
                    </div>

                    <div class="box-text3">
                        Rs. 250,000.00
                    </div>
                </div>
                <div class="checkout ">
                    <div>Check Out</div>
                </div>

            </div>

        </div>

    </div>

    <div class="frame ">
        <img alt="" class="frame-img" src="@/images/Frame.png">
    </div>
</template>

<script>
export default {
    name: "Card-Korzina",
    mounted() {
        this.basketCards = JSON.parse(localStorage.getItem('basketCards'))
    },
    data() {
        return {
            basketCards: [],
        }
    },
    methods: {
        removeCard(index) {
            this.basketCards.splice(index, 1)

            localStorage.setItem('basketCards', JSON.stringify(this.basketCards))
        }
    }


}
</script>

<style scoped>
.count{
    width: 32px;
    height: 32px;
    border: 1px solid #9F9F9F;
    padding-left: 10px;
    padding-top: 4px;
    border-radius:5px;
}

.card-img{
    width: 108px;
    height: 105px;
    border-radius: 10px;
}
.card-table{
    display: grid;
    align-items: center;
    height: 300px;
    overflow-y: auto;
}

.img{
    width: 108px;
    height: 105px;
    border-radius: 10px;
}
.table-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 15px;
    margin-left: 22%;
    width: 222px;
    height: 58px;
    border-radius: 15px;
    border: 1px solid #000000
}

.box-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;

}

.box-text2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #9F9F9F;

}

.box-text3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0;
    color: #B88E2F;

}

.box {
    display: flex;
    justify-content: space-between;
}

.table-text5 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0;
    text-align: left;

}

.frame {
    margin-top: 70px;
}

.frame-img {
    width: 100%;
}

.table {
    display: flex;
    height: 55px;
    background-color: #F9F1E7;
    justify-content: space-evenly;
    padding-top: 15px;
}

.table2 {
    height: 390px;
    background-color: #F9F1E7;
    justify-content: center;
    padding-top: 15px;

}

</style>
