<template>
    <div></div>

</template>
<script>
export default {
    name: "LikeProducts",
}
</script>

<style scoped>
.button-text {
    width: 240px;
    height: 50px;
    cursor: pointer;
    color: #B88E2F;
    border: 1px solid #B88E2F;
}

.OurProducts {
    font-family: Poppins, sans-serif;
    margin-top: 50px;
    padding-bottom: 50px;
}

.link {
    color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}

.icon-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: white;
}

.icon {
    position: absolute;
    margin-top: 35px;
    left: -25px;
}

.icon-text2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: white;
}

.icon-2 {
    position: absolute;
    margin-top: 35px;
    left: 55px;
}

.icon-text3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: white;
}

.icon-3 {
    position: absolute;
    margin-top: 35px;
    right: -30px;
}

.add-cart {
    background-color: white;
    width: 202px;
    height: 48px;
    border: none;
}

.photo-home {
    position: relative;
}

.image {
    display: block;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    opacity: 0.6;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.photo-home:hover .overlay {
    bottom: 0;
    height: 100%;
}

.photo-home:hover .text {
    opacity: 1;
}

.text {
    font-size: 20px;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.box4 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
}

.photo-home {
    margin-top: 50px;
    width: 285px;
    height: 420px;
    background-color: #F4F5F7;
}

.photo-home-text {
    position: relative;
    top: 10px;
}

.photo-text {
    margin-left: 15px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    color: #3A3A3A;
}

.photo-text2 {
    position: relative;
    top: 3px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #898989;
}

.photo-text3 {
    position: relative;
    top: 10px;
    margin-left: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #3A3A3A;
}

.photo-text4 {
    position: relative;
    top: 10px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    color: #B0B0B0;
    text-decoration: line-through;
}
</style>