<template>
    <div class="row">
        <div class="col-12">
            <div class="banner">
                <img alt="" class="img" src="../../images/Rectangle.png"/>
                <div class="duration">
                    <div class="ps-3"><img alt=""  src="@/images/Glavni.png"></div>
                    <div class="text-1"><router-link class="text-1" to="/card-like">Like</router-link></div>
                    <span class="text-2"><router-link style="text-decoration: none; color: black" to="/">𝐇𝐨𝐦𝐞</router-link></span>
                    <span>❯</span>
                    <span class="text-3"><router-link style="text-decoration: none; color: black" to="/card-like">Like</router-link></span>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
export default {
    name: "Like-Home"
}
</script>

<style scoped>
.img {
    width: 100%;
    height: 316px;
}
.banner {
    position: relative;
}
.duration {
    width: 120px;
    position: absolute;
    top: 30%;
    left: 45%;
}
.text-1{
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0;
    text-decoration: none;
    color: black;
}
.text-2{
    margin-right: 5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
}

.text-3{
    margin-left: 7%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
}


</style>
