<script>
import BannerCol from "@/components/Home/BannerCol.vue";
import BrowseTheRange from "@/components/Home/BrowseTheRange.vue";
import OurProducts from "@/components/Home/OurProducts.vue";
import FooterCarousel from "@/components/Home/Footer-carousel.vue";
import FooterShare from "@/components/Home/footer-share.vue";
import HomeFooter from "@/components/Home/Home-footer.vue";
import OrderHeader from "@/components/The store is ordered/Order-header.vue";

export default {
    name: "HomePage",
    components: {OrderHeader, HomeFooter, FooterShare, FooterCarousel, OurProducts, BrowseTheRange, BannerCol
}
}
</script>

<template>
    <order-header/>
    <BannerCol/>
    <BrowseTheRange/>
    <OurProducts/>
    <FooterCarousel/>
    <footer-share/>
    <home-footer/>
</template>

<style scoped>
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-button {
    height: 0;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #a2a3a2;
    border-radius: 5px;
}

</style>