<script>
import OrderHeader from "@/components/The store is ordered/Order-header.vue";
import CardHome from "@/components/Korzina/Card-Home.vue";
import CardKorzina from "@/components/Korzina/Card-Korzina.vue";
import HomeFooter from "@/components/Home/Home-footer.vue";

export default {
    name: "KozinaCardPage",
    components: {HomeFooter, CardKorzina, CardHome, OrderHeader}
}
</script>

<template>
    <order-header/>
    <CardHome/>
    <CardKorzina/>

    <home-footer/>

</template>

<style scoped>

</style>