<script>
import OrderHeader from "@/components/The store is ordered/Order-header.vue";
import LikeHome from "@/components/Like/Like-Home.vue";
import LikeProducts from "@/components/Like/LikeProducts.vue";

export default {
    name: "LikeCardPage",
    components: {LikeProducts, LikeHome, OrderHeader}
}
</script>

<template>
    <order-header/>
    <LikeHome/>
    <LikeProducts/>

</template>

<style scoped>

</style>