<script>


import HomeShop from "@/components/Shop/Home-Shop.vue";
import ShopFilter from "@/components/Shop/Shop-filter.vue";
import ShopImages from "@/components/Shop/Shop-Images.vue";
import HomeFooter from "@/components/Home/Home-footer.vue";
import OrderHeader from "@/components/The store is ordered/Order-header.vue";

export default {
    name: "ShopPage",
    components: {OrderHeader, HomeFooter, ShopImages, ShopFilter, HomeShop,}
}
</script>

<template>
    <order-header/>
    <HomeShop/>
    <ShopFilter/>
    <ShopImages/>
    <home-footer/>
</template>

<style scoped>
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-button {
    height: 0;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #a2a3a2;
    border-radius: 5px;
}

</style>