<template>
    <OrderHeader/>
    <OrderPagination/>
    <StoreOrdered/>
    <OrderDescription/>
    <RelatedProducts/>
    <home-footer/>
</template>

<script>
import OrderHeader from "@/components/The store is ordered/Order-header.vue";
import OrderPagination from "@/components/The store is ordered/Order-pagination.vue";
import StoreOrdered from "@/components/The store is ordered/StoreOrdered.vue";
import OrderDescription from "@/components/The store is ordered/order-Description.vue";
import RelatedProducts from "@/components/The store is ordered/Related-Products.vue";
import HomeFooter from "@/components/Home/Home-footer.vue";

export default {
    name: "SingleProductPage",
    components: {HomeFooter, RelatedProducts, OrderDescription, StoreOrdered, OrderPagination, OrderHeader}
}
</script>

<style scoped>
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-button {
    height: 0;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #a2a3a2;
    border-radius: 5px;
}
</style>