<script>
export default {
    name: "BannerCol"
}
</script>

<template>
    <div class="row">
        <div class="col-12">
            <div class="banner">
                <img alt="" class="img" src="@/images/scandinavian.png"/>
                <div class="duration">
                    <div class="d-text">New Arrival</div>
                    <div class="d-text2">Discover Our <br>
                        New Collection</div>
                    <div class="d-text3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
                        nec ullamcorper mattis.
                    </div>
                    <div class="button">
                        <div class="button-text">By Now</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

.button {
    margin-left: 7%;
    margin-top: 6%;
    width: 35%;
    height: 15%;
    background-color: #B88E2F;
    border: none;
    cursor: pointer;
}
.button-text{
    padding-top: 8%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: white;
}

.d-text {
    margin-top: 7%;
    margin-left: 7%;
    font-size: 90%;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3px;
}
.d-text2 {
    margin-left: 7%;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0;
    color: #B88E2F;
}
.d-text3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    width: 80%;
    margin-top: 1%;
    margin-left: 7%;
    color: #333333;
}
.banner {
    position: relative;
}
.img {
    width: 100%;
}
.duration {
    position: absolute;
    width: 600px;
    right: 3%;
    bottom: 17%;
    height: 400px;
    background-color: #FFF3E3;
}

</style>