<script>
export default {
    name: "BrowseTheRange"
}
</script>

<template>
    <div class="row mt-5">
        <div class="col-12  text-center">
            <div class="box2">Browse The Range</div>
            <div class="box3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 text-center  mt-5">
            <div>
                <img src="@/images/MaskGroup.jpg" alt="">
                <div class="phototext">Dining</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 text-center mt-5">
            <div>
                <img src="@/images/Image-living.jpg" alt="">
                <div class="phototext">Living</div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4  text-center mt-5">
            <div>
                <img src="@/images/Group.jpg" alt="">
                <div class="phototext">
                    Bedroom
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>



.box2 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    color: #333333;
}

.box3 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
}

.phototext {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;
}

</style>