<script>
export default {
    name: "Footer-carousel"
}
</script>

<template>
    <div class="row footer-carousel">
            <div class="col ">
                <div class="carousel-text">
                    <div class="text">
                        50+ Beautiful rooms
                        inspiration
                    </div>
                    <div class="text2">
                        Our designer already made a lot of beautiful prototipe of rooms that inspire you
                    </div>
                    <div class="button">
                    <span class="button-text">
                        Explore More
                    </span>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div>
                        <div class="content">
                            <h2>Jane Doe</h2>
                            <span>UI & UX Designer</span>
                        </div>
                    </div>
                    <div>
                        <div class="content">
                            <h2>Alex Smith</h2>
                            <span>CEO Expert</span>
                        </div>
                    </div>
                    <div>
                        <div class="content">
                            <h2>Emily New</h2>
                            <span>Web Designer</span>
                        </div>
                    </div>
                    <div>
                        <div class="content">
                            <h2>Mirzohid</h2>
                            <span>Computer Guru daa</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</template>

<style scoped>

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-carousel{
    width: 100%;
    display: flex;
    background-color: #FFF3E3;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #100721;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
}

.container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    height: 500px;
    margin-bottom: 40px;

    > div {
        flex: 0 0 120px;
        border-radius: 0.5rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        box-shadow: 1px 5px 15px #1e0e3e;
        position: relative;
        overflow: hidden;

        &:nth-of-type(1) {
            background: url("https://www.fonewalls.com/wp-content/uploads/480x800-Background-HD-Wallpaper-006-300x500.jpg")
            no-repeat 50% / cover;
        }
        &:nth-of-type(2) {
            background: url("https://www.fonewalls.com/wp-content/uploads/480x800-Background-HD-Wallpaper-120-300x500.jpg")
            no-repeat 50% / cover;
        }
        &:nth-of-type(3) {
            background: url("https://media.wallpaperchill.com/480x800-wallpapers/480x800-background-hd-wallpaper-s002-300x500.jpg")
            no-repeat 50% / cover;
        }
        &:nth-of-type(4) {
            background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsUmYMwfgpWcbRA5Sbnm0mLiOU7svWh_gr2w&usqp=CAU")
            no-repeat 50% / cover;
        }

        .content {
            font-size: 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 15px;
            opacity: 0;
            flex-direction: column;
            height: 100%;
            justify-content: flex-end;
            background: rgb(2, 2, 46);
            background: linear-gradient(
                0deg,
                rgba(2, 2, 46, 0.6755077030812324) 0%,
                rgba(255, 255, 255, 0) 100%
            );
            transform: translatey(100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
            visibility: hidden;

            span {
                display: block;
                margin-top: 5px;
                font-size: 1.2rem;
            }
        }

        &:hover {
            flex: 0 0 250px;
            box-shadow: 1px 3px 15px #7645d8;
            transform: translatey(-30px);
        }

        &:hover .content {
            opacity: 1;
            transform: translatey(0%);
            visibility: visible;
        }
    }
}


.carousel-text {
    margin-left: 50px;
    margin-top: 200px;
}
.text {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    width: 380px;
    color: #3A3A3A;
}

.text2 {
    margin-top: 5px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 368px;
    color: #616161;
}

.button {
    margin-top: 20px;
    width: 176px;
    height: 48px;
    background-color: #B88E2F;
    cursor: pointer;
}

.button-text {
    position: relative;
    top: 14px;
    left: 42px;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

</style>