<script>
export default {
    name: "footer-share"
}
</script>

<template>
    <div class="footer-share">
        <img style="width: 100%;" src="@/images/Share.png" alt="">
    </div>
</template>

<style scoped>
.footer-share{
    margin-top: 100px;
    padding-bottom: 100px;
}
</style>