<script>
export default {
    name: "Home-footer"
}
</script>

<template>
    <div class="footer">
        <div class="funiro">
            <img style="width: 100%" src="@/images/Line2.png" alt="">
            <div class="funiro-center">
                <div class="box">
                    <span class="funiro-text">
                     Funiro.
                 </span>
                    <br>
                    <div class="funiro-text2">
                        400 University Drive Suite 200 Coral Gables,
                        FL 33134 USA
                    </div>
                </div>
                <div class="box2">
                    <div>
                        <span class="text1">Links</span>
                        <span class="text2">Help</span>
                        <span class="text3">Newsletter</span>
                    </div>
                    <div class="mt-4">
                        <span class="text4">Home</span>
                        <span class="text5">Payment Options</span>
                        <span class="text6">
                            <a style=" color: #9F9F9F;" href="#">  Enter Your Email Address</a>
                        </span>
                        <span class="text7">
                            <a style="color: #000000;" href="">SUBSCRIBE</a>

                        </span>
                    </div>
                    <div class="mt-4">
                        <span class="text8">Shop</span>
                        <span class="text9">Returns</span>
                        <span></span>
                    </div>
                    <div class="mt-4">
                        <span class="text10">About</span>
                        <span class="text11">Privacy Policies</span>
                        <span></span>
                    </div>
                    <div class="mt-4">
                        <span class="text12">Contact</span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="mt-4">
                        <span class="">  </span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div>
                <img style="width: 88%; margin-left: 80px" src="@/images/Line2.png" alt="">
                <div class="funiro-text3">
                    2023 furino. All rights reverved
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.funiro-text3{
    margin-left: 83px;
    margin-top: 20px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.text10 {
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;

}

.text12 {
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;

}

.text11 {
    margin-left: 146px;
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;

}

.text9 {
    margin-left: 154px;
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;

}

.text8 {
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;

}

.text4 {
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;

}

.text5 {
    margin-left: 146px;
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;

}

.text6 {
    margin-left: 58px;
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #9F9F9F;
}

.text7 {
    margin-left: 63px;
    font-family: Poppins;
    font-weight: 550;
    line-height: 36px;
    letter-spacing: 0em;
    color: #000000;
}

.text1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;

}

.text2 {
    margin-left: 150px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;

}

.text3 {
    margin-left: 150px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;

}

.box2 {
    margin-left: 100px;
}

.funiro-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;

}

.funiro-text2 {
    margin-top: 50px;
    width: 285px;
    height: 72px;
    color: #9F9F9F;

}

.funiro {
    margin-bottom: 20px;
}

.funiro-center {
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
}

</style>