<template>
    <router-view/>
</template>

<script>


export default {
    name: 'App',
    components: {},

}
</script>

<style>
*{
    font-family: Poppins,sans-serif;

}
::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}

::-webkit-scrollbar-button {
    height: 0;
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #a2a3a2;
    border-radius: 5px;
}

</style>
