<template>
    <div class="pagination">
        <div class="pagination-text">
            <span >
                <router-link class="p-text" to="/">Home</router-link>
            </span>
            <span class="p-text2">
                  ❯
            </span>
            <span >
                <router-link class="p-text3" to="/shopPage">Shop</router-link>
            </span>
            <span class="p-text4">
                  ❯
            </span>
            <span class="p-text5">
                <img src="@/images/Line.png" alt=""/>
            </span>
            <span class="p-text6">
                 {{cards[$route.params.id - 1].name}}
            </span>
        </div>

    </div>
</template>


<script>
export default {
    name: "Order-pagination",
    data() {
        return {
            cards: [
                {
                    id: 1,
                    image: require('@/images/Syltherine.png'),
                    name: 'Syltherine',
                    cost: '2.500.000',
                    description: 'Stylish cafe chair'
                },
                {
                    id: 2,
                    image: require('@/images/Levios.png'),
                    name: 'Leviosa',
                    cost: '2.500.000',
                    description: 'Stylish cafe chair'
                },
                {
                    id: 3,
                    image: require('@/images/lolito.png'),
                    name: 'Lolito',
                    cost: '7.000.000',
                    description: 'Luxury big sofa'
                },
                {
                    id: 4,
                    image: require('@/images/Respira.png'),
                    name: 'Respira',
                    cost: '500.000',
                    description: 'Outdoor bar table and stool'
                },
                {
                    id: 5,
                    image: require('@/images/Grifo.png'),
                    name: 'Grifo',
                    cost: '1.500.000',
                    description: 'Nigth lamp'
                },
                {
                    id: 6,
                    image: require('@/images/Muggo.png'),
                    name: 'Muggo',
                    cost: '150.000',
                    description: 'Small mug'
                },
                {
                    id: 7,
                    image: require('@/images/Pingky.png'),
                    name: 'Pingky',
                    cost: '7.000.000',
                    description: 'Cute bed set'
                },
                {
                    id: 8,
                    image: require('@/images/Potty.png'),
                    name: 'Potty',
                    cost: '500.000',
                    description: 'Minimalist flower pot'
                },
            ]
        }
    }
}
</script>



<style scoped>
.pagination{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #F9F1E7;
}
.pagination-text{
    margin-top: 25px;
    margin-left: 80px;
}
.p-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
    text-decoration: none;
}
.p-text2{
 margin-left: 15px;
}
.p-text3{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
    margin-left: 20px;
    text-decoration: none;
}
.p-text4{
    margin-left: 15px;
}
.p-text5{
    position: relative;
     margin-left: 25px;
}
.p-text6{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 25px;
}

</style>