<template>
    <div class="row">
        <div id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade "
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="header">
                        <span id="exampleModalLabel" class="modal-title">Shopping Cart</span>
                        <img alt="" aria-label="Close" class="close" data-bs-dismiss="modal"
                             src="@/images/shopx.png">
                        <img alt="" aria-label="Close" class="line" data-bs-dismiss="modal"
                             src="@/images/Line2.png">
                    </div>
                    <div class="modal-body">
                        <div
                            v-for="(card,index) in basketCards" :key="card.id"
                            class="picture-1"
                        >
                            <div><img :src="card.image" alt="" class="data-img"></div>
                            <div class="picture-text">
                                <span class="p-text">{{ card.name }}</span>
                                <img alt="" class="vektor" src="@/images/vektor-x.png"
                                     @click="removeCard(index)"><br>
                                <span class="cost">
                                       <span class="cost-n">{{ card.count }}</span>
                                        <span class="cost-x">x</span>
                                        <span class="cost-c">Rs. {{ card.cost }}</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="box">
                            <router-link style="text-decoration: none;color: black" to="/card-korzina">
                                Card
                            </router-link>
                        </div>
                        <div class="box2">
                            Checkout
                        </div>
                        <div class="box3">
                            Comparison
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="col ps-3">
                <span class="text">
                    <span><img alt="" class="glavni" src="@/images/Glavni.png"></span>
                    <router-link style="text-decoration: none; color: black; margin-left: 2%" to="/">Furniro</router-link>
                </span>
            </div>
            <div class="col ">
                <div class="textHome">
                <div class="">
                    <router-link class="link" to="/">Home</router-link>
                </div>
                    <div class="">
                        <router-link class="link" to="/shopPage">Shop</router-link>
                    </div>
                    <div class="">
                     <router-link class="link" to="#">About</router-link>
                     </div>
                    <div class="">
                        <router-link class="link" to="#">Contact</router-link>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="icons ps-5">
                    <div class="icon"><i class="fa-regular fa-user" style="cursor: pointer"></i></div>
                    <div class="icon"><i class="fa-solid fa-magnifying-glass" style="cursor: pointer"></i></div>
                    <div class="icon">
                        <router-link class="link" to="/card-like">
                            <i class="fa-regular fa-heart" style="cursor: pointer"></i>
                        </router-link>
                    </div>
                    <div class="icon">
                    <i class="fa-solid fa-cart-shopping" data-bs-target="#exampleModal" data-bs-toggle="modal"
                       style="cursor: pointer"></i>
                </div>
                    <!-- Modal -->

                </div>
            </div>


        </nav>

    </div>
</template>

<script>
export default {
    name: "Order-header",
    mounted() {
        this.basketCards = JSON.parse(localStorage.getItem('basketCards'))
    },
    data() {
        return {
            basketCards: [],
        }
    },
    methods: {
        removeCard(index) {
            this.basketCards.splice(index, 1)

            localStorage.setItem('basketCards', JSON.stringify(this.basketCards))
        }
    }
}
</script>

<style scoped>
.modal-content {
    top: -28px;
    left: 110%;
    width: 375px;
    height: 550px;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.navbar {
    position: relative;
    background-color: white;
    height: 70px;

}

.data-img {
    width: 108px;
    height: 105px;
    border-radius: 15px;
}

.vektor {
    position: absolute;
    padding-top: 15px;
    margin-left: 80px;
    cursor: pointer;
}

.cost-c {
    margin-left: 10px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #B88E2F;


}

.cost-x {
    margin-left: 10px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.cost-n {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.p-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.picture-text {
    margin-left: 20px;
    margin-top: 20px;
}

.picture-1 {
    padding-top: 20px;
    display: flex;
}

.box {
    cursor: pointer;
    width: 87px;
    height: 30px;
    border-radius: 50px;
    padding-left: 25px;
    padding-top: 1px;
    border: 1px solid #000000

}

.box2 {
    cursor: pointer;
    width: 118px;
    height: 30px;
    border-radius: 50px;
    padding-left: 23px;
    padding-top: 1px;
    border: 1px solid #000000
}

.box3 {
    cursor: pointer;
    width: 118px;
    height: 30px;
    border-radius: 50px;
    padding-left: 15px;
    padding-top: 1px;
    border: 1px solid #000000
}


.modal-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: start;
}

.modal-body {
    overflow-y: auto;
    margin-left: 12px;
    margin-top: 15px;
}

.line {
    margin-top: 80px;
    margin-left: 30px;
    width: 65%;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 30px;
}

.modal-content {
    display: flex;

}

.modal-title {
    position: absolute;
    top: 23px;
    left: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0;

}



.text {
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0;
}

.glavni {
    cursor: pointer;
    width: 50px;
    height: 30px
}

.textHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
}
</style>