<script>
export default {
    name: "order-Description"
}
</script>

<template>
    <div class="row">
        <div class="col-12 mt-5">
            <img alt="" src="@/images/Line2.png" style="width: 100%;">
            <div class="Description-text">
                <span class="box">Description</span>
                <span class="box2">Additional Information</span>
                <span class="box3">Reviews [5]</span>
            </div>
        </div>

        <div class="col-12 mt-4 ">
            <div class="lorem-text">
                Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo speaker takes the
                unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the road.
            </div>
        </div>

        <div class="col-12 mt-4">
            <div class="lorem-text">
                Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled engineering. Setting
                the bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted hero with a
                well-balanced audio which boasts a clear midrange and extended highs for a sound that is both articulate
                and pronounced. The analogue knobs allow you to fine tune the controls to your personal preferences
                while the guitar-influenced leather strap enables easy and stylish travel.
            </div>
        </div>

        <div class="col text-center mt-4">
            <div class=""><img alt="" src="@/images/img1.png"></div>
        </div>

        <div class="col text-center mt-4">
            <div class=""><img alt="" src="@/images/img2.png"></div>
        </div>
    </div>
</template>

<style scoped>

.lorem-text {
    width: 70%;
    margin-left: 15%;
    color: #9F9F9F;
}
.box {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}
.box2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
    margin-left: 50px;
    cursor: pointer;
}
.box3 {
    font-family: Poppins,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0;
    text-align: left;
    color: #9F9F9F;
    margin-left: 50px;
    cursor: pointer;
}
.Description-text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
</style>