<template>
    <div class="row">
        <div class="col">
            <div class="main-picture">
                <div class="small-picture">
                    <div class="small-1">
                        <img alt="" src="@/images/mebel1.png">
                    </div>
                    <div class="small-2">
                        <img alt="" src="@/images/mebel2.png">
                    </div>
                    <div class="small-3">
                        <img alt="" src="@/images/mebel3.png">
                    </div>
                    <div class="small-4">
                        <img alt="" src="@/images/mebel4.png">
                    </div>

                </div>
                <div class="home-picture">
                    <div class="home-img">
                        <img :src="cards[$route.params.id - 1].image" alt="" style="width:350px ;height: 391px">
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="main-text">
                <div class="name">
                    {{ cards[$route.params.id - 1].name }}
                </div>
                <div class="cost">
                    Rs. {{ cards[$route.params.id - 1].cost }}
                </div>
                <div class="yulduz">
                    <img alt="" class="mt-3" src="@/images/yulduz.png">
                    <span class="line">
                        <img alt="" src="@/images/Line.png"/>
                    </span>
                    <span class="line-text">
                        5 Customer Review
                    </span>
                </div>
                <div class="lorem-ipsum">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature...
                </div>
                <div class="size">
                    <span class="size-text">
                         Size
                    </span>
                    <br>
                    <div class="size0">
                        <span class="size1">
                            L
                        </span>
                        <span class="size2">
                            XL
                        </span>
                        <span class="size3">
                            XS
                        </span>
                    </div>
                </div>
                <div class="color">
                    <span class="color-text">Color</span><br>
                    <div class="color0">
                        <span class="color1"></span>
                        <span class="color2"></span>
                        <span class="color3"></span>
                    </div>
                </div>
                <div class="products">
                    <div class="increment">
                        <div class="box pb-1" @click="count > 1 ? count-- : count = 1">-</div>
                        <div class="mx-3">{{ count }}</div>
                        <div class="box" @click="count < 10 ? count++ : count = 10">+</div>
                    </div>
                    <div class="addCart">
                        <div class="addCart-text" @click="pushToBasket">Add To Cart</div>
                    </div>
                    <div class="addCart">
                        <div class="addCart-text"><span class="addCart-p">+</span>Compare</div>
                    </div>
                </div>
                <div class="line2">
                    <img alt="" src="@/images/Line2.png"/>
                </div>
                <div class="main-footer">
                    <span class="footer-text">
                         SKU
                    </span>
                    <span class="footer-text2">
                         :
                    </span>
                    <span class="footer-text3">
                         SS001
                    </span>
                </div>
                <div class="main-footer2">
                    <span class="footer-text">
                         Category
                    </span>
                    <span class="footer-text4">
                         :
                    </span>
                    <span class="footer-text5">
                         Sofas
                    </span>
                </div>
                <div class="main-footer3">
                    <span class="footer-text">
                         Tags
                    </span>
                    <span class="footer-text6">
                         :
                    </span>
                    <span class="footer-text7">
                         Sofas,Chair,Home,Shop
                    </span>
                </div>
                <div class="main-footer4">
                    <span class="footer-text">
                         Share
                    </span>
                    <span class="footer-text8">
                         :
                    </span>
                    <span class="footer-text9">
                         <span class="facebook-icon">
                             <img alt="" src="@/images/facebook.png"/>
                         </span>
                         <span class="linkedin-icon">
                             <img alt="" src="@/images/linkedin.png"/>
                         </span>
                         <span class="twitter-icon">
                             <img alt="" src="@/images/twitter.png"/>
                         </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "StoreOrdered",
    mounted() {
        this.basketCards = JSON.parse(localStorage.getItem('basketCards'))
    },
    methods: {
        pushToBasket() {
            let card = {
                id: +this.$route.params.id,
                count: this.count,
                image: this.cards[this.$route.params.id - 1].image,
                name: this.cards[this.$route.params.id - 1].name,
                cost: this.cards[this.$route.params.id - 1].cost
            }

            this.basketCards.push(card)

            localStorage.setItem('basketCards', JSON.stringify(this.basketCards))

            this.$router.push('/')
        }
    },
    data() {
        return {
            basketCards: [],
            count: 1,
            cards: [
                {
                    id: 1,
                    image: require('@/images/Syltherine.png'),
                    name: 'Syltherine',
                    cost: '2.500.000',
                    description: 'Stylish cafe chair'
                },
                {
                    id: 2,
                    image: require('@/images/Levios.png'),
                    name: 'Leviosa',
                    cost: '2.500.000',
                    description: 'Stylish cafe chair'
                },
                {
                    id: 3,
                    image: require('@/images/lolito.png'),
                    name: 'Lolito',
                    cost: '7.000.000',
                    description: 'Luxury big sofa'
                },
                {
                    id: 4,
                    image: require('@/images/Respira.png'),
                    name: 'Respira',
                    cost: '500.000',
                    description: 'Outdoor bar table and stool'
                },
                {
                    id: 5,
                    image: require('@/images/Grifo.png'),
                    name: 'Grifo',
                    cost: '1.500.000',
                    description: 'Nigth lamp'
                },
                {
                    id: 6,
                    image: require('@/images/Muggo.png'),
                    name: 'Muggo',
                    cost: '150.000',
                    description: 'Small mug'
                },
                {
                    id: 7,
                    image: require('@/images/Pingky.png'),
                    name: 'Pingky',
                    cost: '7.000.000',
                    description: 'Cute bed set'
                },
                {
                    id: 8,
                    image: require('@/images/Potty.png'),
                    name: 'Potty',
                    cost: '500.000',
                    description: 'Minimalist flower pot'
                },
            ]
        }
    }
}
</script>

<style scoped>

.main-text{
    display: grid;
    justify-content: center;
}
.facebook-icon {
    cursor: pointer;
    margin-left: 10px;
}

.linkedin-icon {
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.twitter-icon {
    cursor: pointer;
    margin-left: 10px;
}

.footer-text5 {
    margin-left: 10px;
    color: #9F9F9F;
}

.footer-text6 {
    margin-left: 43px;
    color: #9F9F9F;
}

.footer-text7 {
    margin-left: 9px;
    color: #9F9F9F;
}

.footer-text8 {
    margin-left: 37px;
    color: #9F9F9F;
}

.main-footer2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;

}

.footer-text4 {
    margin-left: 14px;
    color: #9F9F9F;
}

.footer-text2 {
    margin-left: 40px;
    color: #9F9F9F;
}

.footer-text3 {
    margin-left: 10px;
    color: #9F9F9F;
}

.footer-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
}

.main-footer {
    margin-top: 40px;

}

.main-picture {
    display: flex;
    margin-top: 25px;
    margin-left: 30px;

}

.small-picture {
    width: 100px;
    height: 450px;
    margin-top: 2px;
    cursor: pointer;
}

.small-1 {
    margin-left: 20px;
    cursor: pointer;
}

.small-2 {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;

}

.small-3 {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.small-4 {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.home-picture {
    position: relative;
    border-radius: 12px;
    margin-left: 30px;
    width: 423px;
    height: 500px;
    background-color: #F9F1E7;
}

.home-img {
    position: absolute;
    align-items: center;
    top: 55px;
    left: 34px;
    cursor: pointer;
}


.name {
    font-family: Poppins, sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0;
    color: #000000;

}

.cost {
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;

}
.yulduz {
    margin-top: 15px;
}

.line {
    position: relative;
    margin-left: 20px;
    top: 10px;

}
.line-text {
    position: relative;
    top: 10px;
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
    margin-left: 20px;
}

.lorem-ipsum {
    margin-top: 20px;
    width: 400px;
}

.size {
    margin-top: 22px;
}

.size0 {
    margin-top: 10px;

}

.size-text {
    color: #9F9F9F;
}

.size1 {
    padding: 5px 5px 5px 8px;
    background-color: #B88E2F;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.size2 {
    padding: 6px 1px 5px 6px;
    background-color: #F9F1E7;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.size3 {
    padding: 6px 6px 5px 6px;
    cursor: pointer;
    background-color: #F9F1E7;
    border-radius: 5px;
    margin-right: 15px;
}

.color {
    margin-top: 35px;
}

.color0 {
    margin-top: 15px;

}

.color-text {
    color: #9F9F9F;
}

.color1 {
    padding: 8px 25px 5px 6px;
    background-color: #816DFA;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;

}

.color2 {
    padding: 8px 25px 5px 6px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
}

.color3 {
    padding: 8px 25px 5px 6px;
    background-color: #B88E2F;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;;
}

.products {
    display: flex;
    margin-top: 40px;
}

.increment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;

}

.box {
    font-size: 24px;
    cursor: pointer;
}

.addCart {
    width: 215px;
    height: 64px;
    border-radius: 15px;
    border: 1px solid #000000;
    margin-left: 20px;
    cursor: pointer;

}

.addCart-text {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 55px;
    margin-top: 15px;
    cursor: pointer;

}

.addCart-p {
    position: relative;
    font-size: 24px;
    top: 1px;
    margin-right: 5px;
}

.line2 {
    margin-top: 40px;
}

</style>